# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Build artifacts and compiled output
build/
dist/
/client/build/
/client/dist/

# Environment variables and sensitive files
.env
.env.local
.DS_Store # Mac specific file
npm-debug.log* # Log files

# Testing and coverage reports
coverage/
.nyc_output/

# IDE specific files
.idea/ # WebStorm/IntelliJ
.vscode/ # VS Code (optional, if you have user-specific settings you don't want to share)

# Optional: if you have video uploads or other large generated assets
/public/uploads
